* {
  font-family: montserrat;
  color: #1D0B00;
}

body {
  background-color: #F7F7F3;
  color: #1D0B00;
  margin: 0;
}

section {
  max-width: 900px;
  margin: auto;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

li {
  margin: 4px 0
}

.banner-img {
  background-image: url('./assets/images/saxopp_3.jpg');
  background-size: cover;
  width: 100%;
  height: 0px;
  padding-bottom: 40%;
}

.my-name {
  font-weight: 300;
  text-align: right;
  font-size: 60px;
  color: #594E23;
  margin-bottom: 0.5em;
}

.my-name-index {
  font-weight: 700;
  font-size: 50px;
}

.my-links {
  margin: 0 -8px;
}

.info-item {
  margin: 8px;
  font-size: 16px;
  color: #594E23;
}

.info-item a,
.info-item span,
.info-item p {
  padding-left: 4px;
  color: #594E23;
}

i[class*='lni'] {
  font-size: 20px;
}

.info-item i[class*='lni'] {
  color: #594E23;
}

.job {
  flex-wrap: nowrap !important;
}

.job p {
  margin: 2px;
}

.job .years {
  flex: 0 0 100px;
}

.job .job-data {
  flex: 1 1 auto;
}

.extra-info {
  padding-left: 30px;
}

.pattern {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}


/* publications */

.header-publications {
  font-weight: 300;
  text-align: left;
  font-size: 60px;
  color: #594E23;
  margin-bottom: 0.5em;
}

.publication-text {}


/* utils */

.bold {
  font-weight: 700;
  color: #594E23;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.reverse {
  flex-direction: row-reverse;
}

.between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.m-1 {
  margin: 4px;
}

.m-0 {
  margin: 0px;
}

.m-3 {
  margin: 16px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.mt-0 {
  margin-top: 0px;
}

.mt-2 {
  margin-top: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.mx-2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.inline {
  display: inline;
}

.justified {
  text-align: justify;
  hyphens: auto;
}

.float-right {
  float: right;
}

.round {
  border-radius: 50% !important;
}

.fat-font {
  font-weight: 900;
}

.font-18 {
  font-size: 18px;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  .social i {
    color: black !important;
  }
}